pandas
numpy
scipy


torch
transformers
datasets
opencv-python
pytesseract
pdf2image

fastapi
uvicorn[standard]
python-multipart
loguru
mlflow
pymilvus
motor
asyncio
scipy
Pillow
docker
pre-commit
pytest
jupyter